<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icewebio_instance_style.css') }}">
  </head>
  <body>
    <button id='back-buttom' onclick="window.location.href='/icewebio-dashboard'">Home</button>
    <h1>{{ instance_name }} details</h1>
    <div class="details">
    <form id="details">
      <H2>Audience Name</H2>
      <label>{{ instance_aud_name }}</label><br>
      <H2>Audience ID</H2>
      <label>{{ instance_aud_id }}</label><br>
      <H2>Organization Name</H2>
      <label>{{ instance_org_name }}</label><br>
      <H2>Drive Folder URL</H2>
      <label><a href='{{ folder_url }}' target="_blank">{{ folder_url }}</a></label><br>
    </form>
    <!-- <form method="POST" ACTION="/icewebio-dashboard/add_exclude_urls_to_db/{{ instance_aud_name }}">
      <label for="exclude_urls">Exclude URls&nbsp;</label>
      <textarea id="exclude_urls" name="exclude_urls">{{ exclude_urls }}</textarea><br>
      <button id="exclude_buttom" type="submit">Save</button>
    </form> -->
    <form name="exclude-url-form" method="POST" onsubmit="return validateForm()" ACTION="/icewebio-dashboard/add_exclude_urls_to_db/{{ instance_aud_name }}">
      <label id = titleexlude>Exclude URL's</label>
      <div class="dynamic-input-container">
        {% for rule,item in instance_rules.items() %}
          <div class="input-row">
            <select class="exclude-type" name="dynamic_exclude_type[]">
              <option {% if item["type"] == 'Exact Match' %}selected{% endif %}>Exact Match</option>
              <option {% if item["type"] == 'Contains' %}selected{% endif %}>Contains</option>
              <option {% if item["type"] == 'Starts With' %}selected{% endif %}>Starts With</option>
              <option {% if item["type"] == 'Ends With' %}selected{% endif %}>Ends With</option>
            </select>
            <input type="text" class="exclude-url" name="dynamic_exclude_url[]" placeholder="Enter URL to exclude" value="{{ item["url"] }}">
            <button class="remove-btn">Remove</button>
          </div>
        {% endfor %}
      </div>
      <button id="add-dynamic-input" type="button">Add Input Field</button>
      <button id="save_exclude_buttom" type="submit">Save</button>
    </form>
    </div>
    </div>
    <form method="POST" ACTION="/runnow/{{ instance_aud_name }}">
      <button type="submit">Import</button>
    </form>
    <form method="POST" ACTION="/run/{{ instance_aud_name }}">
      <button type="submit">Run</button>
    </form>
    <form method="POST" ACTION="/stop/{{ instance_aud_name }}">
      <button type="submit">Stop</button>
    </form>
    <form method="POST" ACTION="/delete/{{ instance_aud_name }}">
      <button type="submit">Delete</button>
    </form>

    <br><br>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const dynamicInputContainer = document.querySelector(".dynamic-input-container");
          const addDynamicInputBtn = document.getElementById("add-dynamic-input");
          
          function removeInputField(inputRow) {
            dynamicInputContainer.removeChild(inputRow);
          }
          dynamicInputContainer.addEventListener("click", function(event) {
            if (event.target && event.target.classList.contains("remove-btn")) {
              const inputRow = event.target.parentNode;
              removeInputField(inputRow);
            }
          });


          addDynamicInputBtn.addEventListener("click", function() {
            const inputRow = document.createElement("div");
            inputRow.classList.add("input-row");
            inputRow.innerHTML = `
              <select class="exclude-type" name="dynamic_exclude_type[]">
                <option>Exact Match</option>
                <option>Contains</option>
                <option>Starts With</option>
                <option>Ends With</option>
              </select>
              <input type="text" class="exclude-url" name="dynamic_exclude_url[]" placeholder="Enter URL to exclude">
              <button class="remove-btn">Remove</button>
            `;

            dynamicInputContainer.appendChild(inputRow);
          });
        });
        function validateForm() {
          var x = document.forms["exclude-url-form"]["dynamic_exclude_url[]"].value;
          if (x == "" || x == null) {
            alert("Name must be filled out");
            return false;
          }
}
    </script>
  </body>
</html>
