<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/icewebio_dashboard_style.css') }}">
  </head>
  <body>
    <div class="menu-button">
      <button id='solutions-buttom' onclick="window.location.href='/solutions-dashboard'">Solutions</button>
      <button id='add_s3_bucket-buttom' onclick="window.location.href='/icewebio-dashboard/add-org'">Add Organization</button>
    </div>
    <h1>IceWebIO People Export</h1>
    <form method="POST" action="/add">
      <div class = "section">
        <label for="aud_name">Audience Name&nbsp;</label>
        <div class="tooltip">
          <span class="tooltip-icon">i</span>
          <div class="tooltip-content">Audience name indicates the name of the company you wish to pull data from. DISCLAIMER: This field wil determine the name of the drive folder</div>
        </div>
      </div>
      <textarea id="aud_name" name="aud_name"></textarea><br>
      <div class="section">
        <label for="aud_id">Audience ID&nbsp;</label>
        <div class="tooltip">
          <span class="tooltip-icon">i</span>
          <div class="tooltip-content">Audience ID can be found in the url of the audience in IceWebIO
            <img src="../static/aud_id.png" alt="aud id" border="0">
          </div>
        </div>
      </div>
      <textarea id="aud_id" name="aud_id"></textarea><br>
      <div class="section">
        <label for="org_id">Organizations&nbsp;</label>
        <div class="tooltip">
          <span class="tooltip-icon">i</span>
          <div class="tooltip-content">Organization Name can be found by going to the all organizations tab.
            <img src="../static/org_id.png" alt="org id" border="0">
          </div>
        </div>
      </div>
      <select name="orgs" id="orgs">
        {% for org in org_list %}
        <option value="{{ org }}">{{ org }}</option>
        {% endfor %}
      </select>
      <button type="submit">add</button>
    </form>
    <h1>Jobs</h1>
    <form>
      <p>Idle jobs</p>
      <ul>
      {% for job in idle_jobs %}
        <li><a href='/jobs/{{ job }}'>{{ job }}</a></li>
        {% endfor %}
      </ul>
      <p>Running jobs</p>
      <ul>
      {% for job in running_jobs %}
        <li><a href='/jobs/{{ job }}'>{{ job }}</a></li>
        {% endfor %}
      </ul>
      <br><br>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
          $('form').submit(function(event) {
              event.preventDefault(); // Prevent the default form submission
              
              var addButton = $(this).find('button[type="submit"]');
              addButton.prop('disabled', true); // Disable the button
              
              // Send the AJAX request
              $.ajax({
                  url: '/add',
                  type: 'POST',
                  data: $(this).serialize(),
                  success: function(response) {
                      // Display the response message
                      //alert(response.message);
                      location.reload()
                      addButton.prop('disabled', false); // Enable the button after the request is completed
                  },
                  error: function() {
                      //alert('An error occurred.');
                      location.reload() 
                      addButton.prop('disabled', false); // Enable the button in case of an error
                  }
              });
          });
      });
  </script>
  </body>
</html>
