<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tracker</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login_style.css') }}">

  </head>
  <body>
    <h1>IceWeb Tools</h1>
    <div align="center">
      <a href="login" class="login-btn" style="text-decoration:none;">
          <img id="google" src="../static/google_logo.png"
      alt="Google"
      style="width:50px;height:50px;">
      <div class="btn-text">
          Login with Google
      </div>
      </a> 
  </div>
  </body>
</html>
