<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>IceWeb Solutions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/solutions_dashboard.css') }}">

</head>
<body>

<button id='logout-buttom' onclick="window.location.href='/logout'">Logout</button>
<h1>IceWeb Solutions</h1>

<button id='tracker-buttom' onclick="window.location.href='/gsb-tracker-dashboard'">GSB Tracker</button>
<button id='icewebio-buttom' onclick="window.location.href='/icewebio-dashboard'">IcewebIO</button>

</body>
</html>
